<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FineTime Wear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
<section class="sub-header">
    <nav>
        <a href="index.html"><img src="{{ url_for('static', filename='Images/FineTime Wear.png') }}"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times"onclick="hideMenu()"></i> 
            <ul>
                <li><a href="collection.html">PRODUCTS</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="add_watch.html">CART</a></li>
                <li><a href="login.html">LOG IN</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <h1>About Us</h1>
</section>

<!------------- about us content -------------->

<section class="about-us">

    <div class="row">
        <div class="about-col">
            <h1>Time Transcended: FineTime Wear Redefines Luxury Watchmaking as an Artistic Masterpiece</h1>
            <p>At FineTime Wear, every timepiece is a testament to the fusion of traditional watchmaking techniques and cutting-edge innovation. 
                With meticulous attention to detail, each watch is meticulously handcrafted by master artisans who embody a passion for precision 
                and an unwavering dedication to perfection. <br> <br>

                As you explore the curated collection of FineTime Wear, you will be captivated by the diversity and sophistication 
                of the luxury watches on display. From renowned heritage brands to contemporary visionaries, FineTime Wear carefully 
                selects timepieces that epitomize sophistication, elegance, and the ultimate expression of luxury. <br> <br>
                
                The showroom of FineTime Wear offers a refined ambiance that reflects the essence of the watches it houses. 
                The knowledgeable and passionate team of experts is always at hand to guide and assist you in finding the 
                perfect watch that harmonizes with your individual style and desires. 
                Whether you seek a classic heirloom piece, a statement of boldness, or a symbol of achievement, 
                FineTime Wear ensures a personalized and unforgettable shopping experience. <br> <br>
                
                FineTime Wear's dedication to customer satisfaction extends beyond the initial purchase. 
                With a commitment to exceptional after-sales service, the in-house watchmakers provide meticulous care and maintenance to 
                ensure the longevity and performance of your prized timepiece. Each interaction with FineTime Wear is an opportunity to 
                forge a lasting relationship built on trust, expertise, and a shared love for horology. <br> <br>
                
                Embracing the ethos of luxury and timeless beauty, FineTime Wear collaborates with esteemed partners, 
                sponsors prestigious events, and supports philanthropic initiatives in the world of horology. 
                By nurturing these relationships, FineTime Wear continues to shape the narrative of luxury watch culture and 
                remains at the forefront of the industry. <br> <br>
                
                FineTime Wear, where passion meets precision, invites you to immerse yourself in the realm of exceptional timepieces. 
                Experience the allure of luxury watches, explore the mastery of horological artistry, and discover the embodiment of 
                elegance at FineTime Wear, your gateway to a world where time is elevated to a luxurious art. <br> <br>
                <a href="collection.html" class="hero-btn red-btn">EXPLORE PRODUCTS</a>
        </div>
        <div class="about-col">
        <img src="{{ url_for('static', filename='Images/iwc.jpg') }}">
        </div>
    </div>


</section>


<!----- Footer --------->

<section class="footer">
    <h4>About Us</h4>
    <p>FineTime Wear is a watch company located Denmark. <br>
    The company was founded on three core values: <br>
    Delivering high-quality watches. <br>
    Having good and honest customer service. <br>
    Giving back to the community around us. <br>
    </p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class=" fa fa-heart-o"></i> By FineTime Wear</p>

</section>




<!--------JavaScript for Toggle Menu------->
<script>

    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>

</body>
</html>