<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FineTime Wear</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html"><img src="images/FineTime Wear.png"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="collection.html">PRODUCTS</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="add_watch.html">CART</a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>FineTime Wear</h1>
        <p>Located in Denmark, Scandinavia</p> 
        <a href="about.html" class="hero-btn">Click here To Know More</a>
    </div>
</section>

<section class="About">
    <h1>FineTime Wear: Elevating Timekeeping to a Luxurious Art</h1>
    <p>Step into the world of timeless elegance and exquisite craftsmanship with FineTime Wear, the leading purveyor of luxury watches. <br>
        With an unwavering commitment to excellence, FineTime Wear has established itself as a premier destination <br> 
        for horological connoisseurs seeking the epitome of refinement and style <br></p>

    <div class="row">
        <div class="About-col">
            <img src="images/omega.png">
            <div class="layer">
                <a href="omega.html"><h3>OMEGA</h3></a>
            </div>
        </div>
        <div class="About-col">
            <img src="images/Patek.png">
            <div class="layer2">
                <a href="patek.html"><h3>PATEK</h3></a>
            </div>
        </div>
        <div class="About-col">
            <img src="images/rolex-daydate2.jpg">
            <div class="layer3">
                <a href="rolex.html"><h3>ROLEX</h3></a>
            </div>
        </div>
    </div>
</section>


<section class="review">
    <h1>Focus on good customer service</h1>
    <p>At FineTime Wear, we believe that customer service is not just a department; it is the cornerstone of our business. <br>
        We strive to exceed expectations, providing a personalized and seamless experience that leaves a lasting impression. <br> <br>

        Our commitment to exceptional customer service ensures that every interaction with FineTime Wear is met with attentiveness, 
        professionalism, <br> and a genuine desire to meet our clients' needs. We value open communication, prompt assistance, 
        and a proactive approach to ensure complete satisfaction. <br> <br>
        
        We understand that our customers are the heart of our success, and we go above and beyond to build long-lasting relationships. 
        <br> With a customer-centric mindset, FineTime Wear is dedicated to delivering not only exceptional luxury watches <br>
        but also an unparalleled level of care and support that sets us apart in the industry. </p>

    <div class="row">
        <div class="review-col"> 
            <img src="images/me.png">
            <div>
                <p>This is the best watch brand I have ever seen. Top quality and good customer service</p>
                <h3>Filip Zachariassen</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="review-col"> 
            <img src="images/oli.jpg">
            <div>
                <p>Good quality. Had a problem with how hot I looked with the watch on. The ladies went too crazy, can't wear it anymore, unfortunately </p>
                <h3>Òli Køtlum</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
        </div>

    </div>

</section>

<section class="footer">
    <h4>About Us</h4>
    <p>FineTime Wear is a watch company located in Denmark. <br>
    The company was founded on three core values: <br>
    Delivering high-quality watches. <br>
    Having good and honest customer service. <br>
    Giving back to the community around us. <br>
    </p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made with <i class=" fa fa-heart-o"></i> By FineTime Wear</p>
</section>

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>